[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
pprintpp = "*"

[packages.95694a9]
path = "./requests-html"
